*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: ubuntu;
}

html,body{
    height:100%;
    width:100% ;
}
.w3nav{
    /* margin:4px 4px; */
    padding:5px 5px;
    width:100%;
    height:60px;
    /* background-color: rgb(171, 171, 55); */
    display: flex;
    gap:10px;

}

.Istpart{
    height:100%;
    width: 50vw;
    /* border:1px solid #000; */

}

.Istdiv{
    display:flex;
    /* gap:40px; */
    text-align: center;
    align-items: center;
    justify-content:space-around;


}
.Istdiv .img{
    height:50px;
    width: 50px;
    border-radius: 50%;
    /* border:1px solid #000; */
}

.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
}
.Istdiv li{
    list-style: none;
}
.Istdiv li a{
    color: #000;
    font-size:17px;
    font-weight:400;
    text-decoration: none;
}
.searchbar{
    width:200px;
    height:40px;
    padding:0 15px;
    /* border:1px solid #0a0000ab; */
    border-radius:40px;

}

.gol{
    height:20px;
    width:20px;
    border-radius:50%;
    border:1px solid #000;
    display: flex;

}
.gol .half{
    height:100%;
    width:70%;
    border-radius:50%;

}

#righthalf{
    background-color: black;

}

.signup{
    width:180px;
    height:42px;
    /* padding:5px; */
    border:1px solid #fff;
    border-radius:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right:10px;
    background-color: rgba(185, 200, 195, 0.573);

}
.signup a{
    text-decoration: none;
}


.signupdiv{
    padding-top:7px;
    height:100%;
    width:60%;
    border:1px solid #120202;
    border-radius:50px;
    background-color: rgb(16, 146, 16);
   

    /* text-align: center; */
}
.signupdiv a{
    color: #fff;
    font-size: 20px;

}

.login a{
    color:#000;
    font-size: 20px;

}




.IIndpart{
    height: 100%;
    width:50vw;
    /* border: 1px solid #000; */
    /* padding: ; */
}

/* subjects part */
.w3subjects{
    height:50px;
    width:100%;
    /* border:1px solid #000; */
    display: flex;
    justify-content: space-around;
    overflow:auto;
    gap:40px;
    padding:5px 10px;
    /* background-color:#06011dce; */
    background-color:#070412e5;

    
    

    /* margin-top:; */

}

.w3subjects::-webkit-scrollbar{
    display: none;
}
.w3subjects li{
    list-style: none;
  

}
.w3subjects li a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;

}

.w3body{
    height:80vh;
    width: 100%;
    /* background-color: ; */
    border: 2px solid #00000000;
    background-color:#070412e5;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:70px;


}

.bodycontent{
    /* text-align: center; */
    font-size:45px;

    
}

.bodycontent h1{
    margin-top:20px;
    margin-bottom:30px;
    color: #fff;
}

.bodycontent h6{
    color:rgb(191, 191, 25);
}
h6 a{
    color: #fff;
}
.search {
    margin-bottom:60px;
    margin-top:10px;
}

.search input{
    width:34vw;
    padding:15px;
    padding-left:40px;
    font-size: 18px;
    font-weight: 600;
    border-radius:50px;
    border: 1px solid #000;
    letter-spacing: 1.5px;
    


}



.footer{
    /* height:0px; */
    width:100%;
    padding:10px;
    background-color: rgb(143, 160, 160);
    text-align: center;
    
}

.footer p{
    font-size:25px;
    border:1px solid #0000009c;
}


@media (max-width: 1000px) {

   
}

@media (max-width: 800px) {
    
}

@media (max-width: 600px) {
    
}

@media (max-width: 400px) {

}
    